body {
  font-family: sans-serif;
  padding: 40px;
  background: #dfe6e9;
  display: flex;
  justify-content: center;
}
.box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
}
input {
  padding: 10px;
  width: 60%;
}
button {
  padding: 10px;
  cursor: pointer;
}
.riscado {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}
li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
li:hover {
  background: #f1f2f6;
}

#btn-limpar {
  width: 100%;
  background: #ff7675;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}
