body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #2f3640;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: #353b48;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #fbc531;
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button#btn-add {
  background: #4cd137;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #2f3640;

  &:hover {
    background: #44bd32;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #273c75;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.concluida {
  background: #2f3640;
  text-decoration: line-through;
  opacity: 0.6;
}

.btn-delete {
  background: #e84118;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
