body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: #2c3e50;
}

#luz {
  width: 150px;
  height: 150px;
  background-color: #95a5a6;
  border-radius: 50%;
  border: 5px solid #34495e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: background 0.3;
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 5px;
}
