body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27160f;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.conversor {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  background: #00b894;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background: #00a88a;
  }
}

.resultado {
  margin-top: 30px;
  font-size: 24px;
  text-align: left;
}
.moeda {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
span {
  font-weight: bold;
  color: #55efc4;
}
