body {
  font-family: Arial, Helvetica, sans-serif;
  background: #2d3436;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck {
  background: #000;
  padding: 30px;
  border-radius: 20px;
  border: 4px solid #0984e3;
  width: 400px;
}

h2 {
  color: #0984e3;
  text-align: center;
}

div.controles {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
}

button#btn-add {
  background: #00b894;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  background: #1e272e;
  margin-bottom: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border-left: 5px solid #00b894;
}

.btn-delete {
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}
