body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container {
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

button#btn-publicar {
  background: #1877f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;

  &:hover {
    background: #166fe5;
  }
}

#feed {
  margin-top: 20px;
}

.comentario {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  position: relative;
}
.comentario h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #1c1e21;
}
.comentario p {
  margin: 0;
  color: #606770;
  font-size: 14px;
}

.btn-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
}
