body{
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100px;
    text-align: center;
}  

button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}

#btn-add{
    background: #4cef40;
    color: black;
}

#btn-separar{
    background: #4cef40;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.box{
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    min-height: 100px; 
}

h3{
    margin-top: 0;
}

#lista-geral{
    color: #f1c40f;
}

#lista-pares{
    color: #3498db;
}

#lista-impares{
    color: #e74c3c;
}