body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  padding: 20px;
}

.controles {
  background: #444;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: #ddd;
  }
}

#mural {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post-it {
  width: 200px;
  height: 200px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: #333;
  position: relative;
  transform: rotate(-2deg);
  transition: 0.2s;
}
.post-it:hover {
  transform: scale(1.1) rotate(0deg);
  z-index: 10;
}

.btn-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
