body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #24282f;
  color: white;
  text-align: center;
  padding: 40px;
}

input {
  padding: 15px;
  border-radius: 8px;
  border: none;
  width: 300px;
  font-size: 18px;
}

button {
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: #97ce4c;
  color: #24282f;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    background: #f6f159;
  }
}

.card {
  background: #3c3e44;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card h3 {
  margin: 10px 0 5px 0;
  color: #f5f6fa;
}
.card p {
  color: #9e9e9e;
  margin-bottom: 20px;
}
