body {
  font-family: cursive;
  background: #ff69b4;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 50px;
}

.container {
  background: #ff69b4;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 20px 10px;
  text-align: center;
}

.input-group {
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button#btn-add {
  background: yellow;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(80, 80, 198);
  width: 100px;
  display: flex;
  justify-content: center;

  &:hover {
    background: #b24a7e;
    color: white;
  }
}

ul {
  background-color: #ff69b4;
  color: white;
  display: flex;
  justify-content: space-between;
}
