body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#productCard {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: background-color 0.5s ease; /* Transição suave da cor */
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.colors-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.color-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; /* Borda padrão invisível no fundo branco */
    cursor: pointer;
    transition: transform 0.2s;
    opacity: 0.7;
}

.color-btn:hover {
    transform: scale(1.1);
}

/* Classe para o botão ativo */
.color-btn.selected {
    opacity: 1;
    border: 3px solid #333; /* Borda escura para destacar */
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}