body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  background: #ffeaa7;
}

.card {
  background: white;
  display: inline-block;
  padding: 30px;
  border-radius: 20px;
  border: 4px solid #fab1a0;
}

img {
  width: 100px;
}

input {
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
  width: 60px;
  text-align: center;
}

#total {
  font-size: 30px;
  font-weight: bold;
  color: #d63031;
  display: block;
  margin-top: 20px;
}
