body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  background: #6c5ce7;
  color: white;
}

.moeda {
  font-size: 80px;
  margin: 20px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 10px;
  background: #a29bfe;
  color: #2d3436;
  font-weight: bold;

  &:hover {
    background: white;
  }
}

#resultado {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
  color: #e7dab2;
}
