body {
  font-family: sans-serif;
  background: #1e272e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h2 {
  color: white;
  margin-bottom: 20px;
}

.moldura {
  width: 500px;
  height: 300px;
  border: 5px solid #00d2d3;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 210, 211, 0.5);
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.status {
  color: #aaa;
  margin-top: 10px;
  font-size: 14px;
}
