body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #222;
  color: white;
}

.card {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  border: 1px solid;
}

h2 {
  color: #ff9f43;
}

h3 {
  color: #1dd1a1;
}

.grade-tamanho {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.btn-tamanho {
  width: 60px;
  height: 60px;
  background: #576574;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

#btn-proximo {
  background: #2e86de;
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
