body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  background: #f1c40f;
}

.placar {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.resultado {
  font-size: 30px;
  margin: 30px;
  color: #2c3e50;
  min-height: 40px;
}

button {
  font-size: 40px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: white;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
    background: #ecf0f1;
  }
}
