body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffeaa7;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.lista-box {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #d63031;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button#btn-add {
  background: #00b894;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  background: #f9f9f9;
}

.riscado {
  text-decoration: line-through;
  color: #b2bec3;
  background-color: #f1f2f6;
}

.btn-delete {
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
